* {
    margin: 10;
    padding: 10;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

.quiz {
    padding: 20px 0;
    max-width: 800px;
}

.quiz h5 {
    font-size: 18px;
    color:#001e4d;
    font-weight: 600; 
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 80%;
    border: 1px solid #222;
    padding:10px;
    margin:10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}